body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ACBEA3;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a.nav-link {
  color: #AD5D4E;
}

a, a.nav-link:hover {
  color: #40476D;
}

.btn-primary {
  background-color:#40476D;
  border: #40476D;
}

.btn-primary:hover {
  background-color:#40476d93;
  border: #40476D;
}

.nav-link.active, .nav-pills .show>.nav-link {
  background-color:#40476D !important;
}

.footer-div {
  position:absolute;
  left:0;
  bottom:0;
  right:0;
  background-color: #eb6534be;
  justify-content: center;
  width: 100vw;
  margin-top: 4em;
  bottom: 0;
}

.preview img {
  height: 315px; 
  object-fit: cover;
  opacity: .3;
}

